.png
.env
.json
.mov
.pyc
.pyo
.pyd
.pyw
.pyz
.pywz
.pyzw
.pyzwz
agenticenv/
*.md
.DS_Store
.mov
**/__pycache__/
credentials.json
token.json
gmail_token.json
client_secret.json
gmail_token.json
gmail_token.json
*.png
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
agenticenv/
**/__pycache__/
**/email_assistant/